body {
    font-family: Arial;
    background: #121212;
    color: white;
}

.container {
    width: 350px;
    margin: 50px auto;
    padding: 20px;
    background: #1e1e1e;
    border-radius: 10px;
    text-align: center;
}

.container.wide {
    width: 800px;
}

h2, h3 {
    color: #ff4d4d;
}

input, select {
    padding: 10px;
    margin: 8px;
    width: 45%;
    background: #2a2a2a;
    color: white;
    border: 1px solid red;
}

button {
    padding: 10px 20px;
    background: red;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background: darkred;
}

table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

th {
    background: red;
    padding: 10px;
}

td {
    padding: 10px;
    border-bottom: 1px solid #444;
}

.deleteBtn {
    background: black;
    color: red;
    border: 1px solid red;
}